.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;
}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 3em;
}

.App-messages {
  width: 100%;
  height: 300px;
  background: #eeeeee52;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

.message-bar {
  min-height: 30px;
  padding: 1px;
  padding-bottom: 3px;
}
.message {
  display: inline-block;
  padding: 1px;
  background-color: #eeeeee;
  color: #808080;
  border-radius: 5px;
  max-width: 300px;
}
.message-sender {
  padding: 5px;
}