* {
    box-sizing: border-box;
}
body
{
    font-family: Lato, Helvetica, Arial, sans-serif;
	font-size: 16px;
    color: #000;
	background-image: url("Aincrad.png");
	background-size: cover;
}

.tableDiv{
  overflow:auto;
  width:1200px;
  height:450px;
  display: block;
}
table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
td,
th {
	border: 1px solid #000;
	width: 100px;
	height: 30px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
th {background-color:#eeeeee;}

td:first-child, th:first-child {
	position:sticky;
	left:0;
	z-index:1;
	background-color: #eeeeee;
	border-left: none;
	font-weight:bold;
	text-align: center;
}
th:first-child {
	width: 50px;
}
thead tr th {
  position:sticky;
  top:0;
  border-top: none;
}
th:first-child {z-index:2;background-color:white;}
input {
    width: 100%;
	height: 100%;
	padding: 4px;
	margin: 0;
	border-color: white;
	border-style: none;
	border-width: 0px;
	outline: none;
	font-size: 16px;
	overflow: hidden;
}
div.no_selection {
    user-select: none;
}
td:focus {
	outline: none;
	border: 2px solid #448ee4;
}