#main_post {
	margin-top: 80px;
}

#main_post, .comment_section {
    width: 70%;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 33%);
    background: #FFF;
    display: inline-block;
    vertical-align: top;
    float: none;
    margin-bottom: 8px;
	margin-left: 15%;
	margin-right: 15%;
}
.post_title {
	margin-bottom: 12px;
    border-bottom: 1px solid #bfbfbf;
    padding-top: 4px;
    padding-bottom: 12px;
    text-indent: -10px;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    table-layout: fixed;
    word-wrap: break-word;
}
.header{
    padding: 36px;
    padding-top: 24px;
    padding-bottom: 0;
    margin-bottom: 18px;
}
.username {
	display: inline-block;
    vertical-align: baseline;
    font-size: 15px;
    font-weight: bold;
    color: #595959;
}
.userID {
	display: inline-block;
    vertical-align: baseline;
    color: #0089ac;
    font-size: 12px;
}

.edit_time {
	display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #a6a6a6;
}
.text_body {
	/* min-height: 100px; */
	padding-left: 20px;
}
.count {
	padding-left: 20px;
}

.comment-button {
    margin-left: 1vw;
    margin-right: 3vw;
	margin-bottom: 3vh;
    font-size: 16px;
    padding: 4px 12px 4px 12px;
    color: #ffe484;
    border: 1px solid #ffe484;
    background-color: #666666;
    border-radius: 5px;
	cursor: pointer;
	float: right;
}
.comment-button:hover {
    background-color: #ffe484;
    color: black;
    transition-duration: 200ms;
}

.user-image {
    border-radius: 50%;
	width: 40px;
	height: 40px;
}

.like_count {
	padding: 4px 12px 4px 12px;
    border: solid;
    border-radius: 5px;
    border-color: orange;
    cursor: pointer;
    color: orange;
}
.pressed_like {
    background-color: #fdd6bd;
}
.pressed_like {
    background-color: #fdd6bd;
}
.unlike_count {
	padding: 4px 12px 4px 12px;
    border: solid;
    border-radius: 5px; 
    border-color: gray;
    cursor: pointer;
}
.pressed_unlike {
    background-color: lightgray;
}